# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

####################
# Dependencies
####################
node_modules/
yarn.lock
package-lock.json
.pnpm-store/

####################
# Expo
####################
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

####################
# React Native / Native builds
####################
android/build/
ios/build/
ios/Pods/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

####################
# Metro / Bundler
####################
.metro-health-check*
.expo-cache/

####################
# Debug / logs
####################
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

####################
# macOS / system files
####################
.DS_Store
*.pem

####################
# Local environment
####################
.env
.env.*
.env.local

####################
# TypeScript
####################
*.tsbuildinfo

####################
# Editors / IDEs
####################
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

####################
# Example / template apps
####################
app-example/

